.icon-48-premios {
      background-image: url(../images/l_premios.png);
      padding-left:60px!important;
}

.icon-48-premio {
      background-image: url(../images/l_premios.png);
      padding-left:60px!important;
}

.icon-48-capaas {
      background-image: url(../images/l_capaas.png);
      padding-left:60px!important;
}

.icon-48-capaa {
      background-image: url(../images/l_capaas.png);
      padding-left:60px!important;
}

.icon-48-tipoinstitucioness {
      background-image: url(../images/l_tipoinstitucioness.png);
      padding-left:60px!important;
}

.icon-48-tipoinstituciones {
      background-image: url(../images/l_tipoinstitucioness.png);
      padding-left:60px!important;
}

.icon-48-articulos {
      background-image: url(../images/l_articulos.png);
      padding-left:60px!important;
}

.icon-48-articulo {
      background-image: url(../images/l_articulos.png);
      padding-left:60px!important;
}

.icon-48-categoriasarticulos {
      background-image: url(../images/l_categoriasarticulos.png);
      padding-left:60px!important;
}

.icon-48-categoriaarticulo {
      background-image: url(../images/l_categoriasarticulos.png);
      padding-left:60px!important;
}

.icon-48-blogs {
      background-image: url(../images/l_blogs.png);
      padding-left:60px!important;
}

.icon-48-blog {
      background-image: url(../images/l_blogs.png);
      padding-left:60px!important;
}

.icon-48-categoriasblog {
      background-image: url(../images/l_categoriasblog.png);
      padding-left:60px!important;
}

.icon-48-categoriablog {
      background-image: url(../images/l_categoriasblog.png);
      padding-left:60px!important;
}

.icon-48-agendas {
      background-image: url(../images/l_agendas.png);
      padding-left:60px!important;
}

.icon-48-agenda {
      background-image: url(../images/l_agendas.png);
      padding-left:60px!important;
}

.icon-48-categoriasagenda {
      background-image: url(../images/l_categoriasagenda.png);
      padding-left:60px!important;
}

.icon-48-categoriaagenda {
      background-image: url(../images/l_categoriasagenda.png);
      padding-left:60px!important;
}

.icon-48-formacions {
      background-image: url(../images/l_formacions.png);
      padding-left:60px!important;
}

.icon-48-formacion {
      background-image: url(../images/l_formacions.png);
      padding-left:60px!important;
}

.icon-48-sliderpublicos {
      background-image: url(../images/l_sliderpublicos.png);
      padding-left:60px!important;
}

.icon-48-sliderpublico {
      background-image: url(../images/l_sliderpublicos.png);
      padding-left:60px!important;
}

.icon-48-slidersinternos {
      background-image: url(../images/l_slidersinternos.png);
      padding-left:60px!important;
}

.icon-48-sliderinterno {
      background-image: url(../images/l_slidersinternos.png);
      padding-left:60px!important;
}

.icon-48-asistentesagendas {
      background-image: url(../images/l_asistentesagendas.png);
      padding-left:60px!important;
}

.icon-48-asistentesagenda {
      background-image: url(../images/l_asistentesagendas.png);
      padding-left:60px!important;
}

.icon-48-asistentesformacions {
      background-image: url(../images/l_asistentesformacions.png);
      padding-left:60px!important;
}

.icon-48-asistentesformacion {
      background-image: url(../images/l_asistentesformacions.png);
      padding-left:60px!important;
}

.icon-48-comentariosblogs {
      background-image: url(../images/l_comentariosblogs.png);
      padding-left:60px!important;
}

.icon-48-comentarioblog {
      background-image: url(../images/l_comentariosblogs.png);
      padding-left:60px!important;
}

.icon-48-videos {
      background-image: url(../images/l_videos.png);
      padding-left:60px!important;
}

.icon-48-video {
      background-image: url(../images/l_videos.png);
      padding-left:60px!important;
}

.icon-48-smpersonas {
      background-image: url(../images/l_smpersonas.png);
      padding-left:60px!important;
}

.icon-48-smpersona {
      background-image: url(../images/l_smpersonas.png);
      padding-left:60px!important;
}

.icon-48-smregistros {
      background-image: url(../images/l_smregistros.png);
      padding-left:60px!important;
}

.icon-48-smregistro {
      background-image: url(../images/l_smregistros.png);
      padding-left:60px!important;
}

.icon-48-smactualizaciones {
      background-image: url(../images/l_smactualizaciones.png);
      padding-left:60px!important;
}

.icon-48-smactualizacion {
      background-image: url(../images/l_smactualizaciones.png);
      padding-left:60px!important;
}

.icon-48-logs {
      background-image: url(../images/l_logs.png);
      padding-left:60px!important;
}

.icon-48-log {
      background-image: url(../images/l_logs.png);
      padding-left:60px!important;
}

.icon-48-campanablogs {
      background-image: url(../images/l_campanablogs.png);
      padding-left:60px!important;
}

.icon-48-campanablog {
      background-image: url(../images/l_campanablogs.png);
      padding-left:60px!important;
}

.icon-48-campanaperfils {
      background-image: url(../images/l_campanaperfils.png);
      padding-left:60px!important;
}

.icon-48-campanaperfil {
      background-image: url(../images/l_campanaperfils.png);
      padding-left:60px!important;
}

.icon-48-smbrujulas {
      background-image: url(../images/l_smbrujulas.png);
      padding-left:60px!important;
}

.icon-48-smbrujula {
      background-image: url(../images/l_smbrujulas.png);
      padding-left:60px!important;
}



.other-filters{
    padding: 0 14px;
}