.gc-error {
  color: #a94442;
  border: 1px solid #ebccd1;
  padding: 15px;
  background: #f2dede;
  border-radius: 4px;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.giantcontent a:hover,
.giantcontent a:focus {
  outline: 0;
  text-decoration: none;
}
.giantcontent ul,
.giantcontent li {
  margin: 0;
  padding: 0;
}
.giantcontent li {
  list-style: none;
}
.giantcontent img {
  height: auto;
  display: block;
  max-width: 100%;
}
.giantcontent .gc-info,
.giantcontent .gc-info-top,
.giantcontent .gc-info-bottom {
  color: #999;
  font-size: 85%;
}
.giantcontent .gc-date,
.giantcontent .gc-hits,
.giantcontent .gc-author,
.giantcontent .gc-category,
.giantcontent .gc-comments {
  padding-right: 5px;
}
.giantcontent .gc-date:before,
.giantcontent .gc-hits:before,
.giantcontent .gc-author:before,
.giantcontent .gc-category:before,
.giantcontent .gc-comments:before {
  font-family: 'FontAwesome';
}
.giantcontent .gc-date:before {
  content: "\f017";
}
.giantcontent .gc-hits:before {
  content: "\f06e";
}
.giantcontent .gc-author:before {
  content: "\f007";
}
.giantcontent .gc-category:before {
  content: "\f07c";
}
.giantcontent .gc-comments:before {
  content: "\f086";
}
.giantcontent .gc-title {
  font-size: 125%;
}
.giantcontent .gc-tags {
  margin: 20px 0;
}
.giantcontent .gc-tags .gc-tag {
  color: #fff;
  margin: 0 5px 0 0;
  padding: 4px 6px;
  background: #333;
  border-radius: 2px;
}
.giantcontent .gc-featured {
  color: #fff;
  padding: 2px 4px;
  font-size: 11px;
  border-radius: 2px;
  vertical-align: top;
}
.giantcontent .gc-rating .gc-rating-list {
  width: 80px;
  height: 16px;
  display: inline-block;
  overflow: hidden;
  position: relative;
  background: url(../images/star.png) 0 0 repeat-x;
  margin-top: -4px;
  vertical-align: middle;
}
.giantcontent .gc-rating .gc-rating-list .gc-rating-current {
  top: 0;
  left: 0;
  height: 16px;
  position: absolute;
  background: url(../images/star.png) 0 -16px repeat-x;
}
.giantcontent .gc-caption {
  color: #fff;
  width: 100%;
  position: absolute;
  background: rgba(0,0,0,0.8);
}
.giantcontent .gc-caption .gc-info,
.giantcontent .gc-caption .gc-info-top,
.giantcontent .gc-caption .gc-info-bottom {
  color: #fff;
}
.giantcontent .gc-padding {
  padding: 20px;
}
.giantcontent .gc-preloader {
  display: block;
  background: url(../images/loader.gif) no-repeat 50% 50% #fff;
}
.giantcontent .gc-top-text,
.giantcontent .gc-bottom-text {
  line-height: 40px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.giantcontent .gc-top-text {
  font-size: 125%;
  margin-bottom: 20px;
}
.giantcontent .gc-bottom-text {
  margin-top: 20px;
  text-align: right;
}
@media (max-width: 767px) {
  .giantcontent .gc-caption {
    opacity: 0;
    visibility: hidden;
  }
}
